  <header>
    <h1>UNBOXING</h1>
    <h2><a href="#" class="logo">UNBOXING</a></h2>
    <ul>
      <li><a href="#"class="activ">Home</a></li>
      <li><a href="#">Makeup</a></li>
      <li><a href="#">Perfume</a></li>
       <li><a href="#">giftWrapping</a></li>  

    </ul>
  </header>